.reasons__text {
    display: flex;
    flex-direction: column;
    max-width: 471px;
    margin-left: 50px;
    margin-top: -5px;
}


@media screen and (max-width: 1190px) {
    .reasons__text {
        max-width: 575px;
    }
}

@media screen and (max-width: 768px) {
    .reasons__text {
        max-width: 250px;
    }
}